In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)

In [3]:
import json
with open('/Users/evelynmartinez/.secret/tmdb_api.json') as f:
    login = json.load(f)
    
login.keys()

dict_keys(['Client-ID', 'API Key'])

In [4]:
import tmdbsimple as tmdb
tmdb.API_KEY = login['API Key']

In [5]:
# movie = tmdb.Movies(500)

In [12]:
# info = movie.info()
# info

In [7]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics_cleaned.csv.gz',
 'title_basics_1.csv.gz',
 'title.basics.tsv.gz',
 'ratings_cleaned.csv.gz',
 'akas_cleaned.csv.gz',
 'title.ratings.tsv.gz',
 'title-akas-us-only.csv']

In [8]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [13]:
basics = pd.read_csv('Data/title_basics_1.csv.gz', sep='\t', low_memory=False)
basics.head()

  tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0  tt0035423,movie,Kate & Leopold,Kate & Leopold,...
1  tt0062336,movie,The Tango of the Widower and I...
2  tt0068865,movie,Lives of Performers,Lives of P...
3  tt0069049,movie,The Other Side of the Wind,The...
4  tt0088751,movie,The Naked Monster,The Naked Mo...