In [34]:
import pandas as pd
import numpy as np

In [35]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: requests in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from tmdbsimple) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/evelynmartinez/anaconda3/envs/dojo-env/lib/python3.9/site-packages (from requests->tmdbsimple) (1.26.13)

In [36]:
import json
with open('/Users/evelynmartinez/.secret/tmdb_api.json') as f:
    login = json.load(f)
    
login.keys()

dict_keys(['Client-ID', 'API Key'])

In [37]:
import tmdbsimple as tmdb
tmdb.API_KEY = login['API Key']

In [38]:
movie = tmdb.Movies(500)

In [39]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/jqFjgNnxpXIXWuPsyfqmcLXRo9p.jpg',
 'belongs_to_collection': None,
 'budget': 1200000,
 'genres': [{'id': 80, 'name': 'Crime'}, {'id': 53, 'name': 'Thriller'}],
 'homepage': '',
 'id': 500,
 'imdb_id': 'tt0105236',
 'original_language': 'en',
 'original_title': 'Reservoir Dogs',
 'overview': 'A botched robbery indicates a police informant, and the pressure mounts in the aftermath at a warehouse. Crime begets violence as the survivors -- veteran Mr. White, newcomer Mr. Orange, psychopathic parolee Mr. Blonde, bickering weasel Mr. Pink and Nice Guy Eddie -- unravel.',
 'popularity': 38.451,
 'poster_path': '/xi8Iu6qyTfyZVDVy60raIOYJJmk.jpg',
 'production_companies': [{'id': 285,
   'logo_path': None,
   'name': 'Live Entertainment',
   'origin_country': ''},
  {'id': 26198,
   'logo_path': None,
   'name': 'Dog Eat Dog Productions',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1992-09-02',
 'revenue': 2859750,
 'runtime': 99,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every dog has his day.',
 'title': 'Reservoir Dogs',
 'video': False,
 'vote_average': 8.132,
 'vote_count': 13295}

In [40]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['title_basics_cleaned.csv.gz',
 'title.basics.tsv.gz',
 'ratings_cleaned.csv.gz',
 'akas_cleaned.csv.gz',
 'title.ratings.tsv.gz',
 'title-akas-us-only.csv']

In [41]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [42]:
basics = pd.read_csv('Data/title_basics_cleaned.csv.gz', sep='\t', low_memory=False)
basics.head()

  tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0  tt0013274,movie,Istoriya grazhdanskoy voyny,Is...
1  tt0035423,movie,Kate & Leopold,Kate & Leopold,...
2  tt0062336,movie,The Tango of the Widower and I...
3  tt0068865,movie,Lives of Performers,Lives of P...
4  tt0069049,movie,The Other Side of the Wind,The...

In [43]:
ratings = pd.read_csv('Data/ratings_cleaned.csv.gz', sep='\t', low_memory=False)
ratings.head()

  tconst,averageRating,numVotes
0            tt0000001,5.7,1992
1             tt0000002,5.8,268
2            tt0000003,6.5,1878
3             tt0000004,5.5,177
4            tt0000005,6.2,2662

In [47]:
akas = pd.read_csv('Data/akas_cleaned.csv.gz')
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0