In [20]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/evelynmartinez/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movies"
engine = create_engine(connection)

In [4]:
if database_exists(connection):
    print('it exists')
else:
    create_database(connection)
    print('Database created')

Database created

Loading data

In [5]:
basics = pd.read_csv('Data/title_basics_cleaned.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

In [6]:
ratings = pd.read_csv('Data/ratings_cleaned.csv.gz')
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1992
1  tt0000002            5.8       268
2  tt0000003            6.5      1878
3  tt0000004            5.5       177
4  tt0000005            6.2      2662

In [7]:
akas = pd.read_csv('Data/akas_cleaned.csv.gz')
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

Normalize genre

In [8]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary,[Documentary]
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
211623,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama,[Drama]
211624,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary,[Documentary]
211625,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary,[Documentary]
211626,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama,[Drama]
211627,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary,[Documentary]

In [9]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary,Documentary
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
211623,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama,Drama
211624,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary,Documentary
211625,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary,Documentary
211626,tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,Drama,Drama
211627,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary,Documentary

In [10]:
genres_split = basics['genres'].str.split(",")

unique_genres = genres_split.explode().unique()
unique_genres

array(['Documentary', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror',
       'Sci-Fi', 'Biography', 'Mystery', 'Adventure', 'Musical', 'Action',
       'Crime', 'Thriller', 'Music', 'Animation', 'Family', 'History',
       'War', 'Sport', 'Western', 'Adult', 'News', 'Reality-TV',
       'Talk-Show', 'Game-Show'], dtype=object)

In [11]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [12]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0013274  Documentary
1  tt0035423       Comedy
1  tt0035423      Fantasy
1  tt0035423      Romance
2  tt0062336        Drama

In [13]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [14]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [15]:
basics['genre_id'] = basics['genres_split'].apply(lambda genres: [genre_id_map[genre] for genre in genres])
basics = basics.drop(columns='genres_split')

In [16]:
genre_lookup = pd.DataFrame({'Genre_Name': genre_id_map.keys(),
                            'Genre_ID': genre_id_map.values()})
genre_lookup

     Genre_Name  Genre_ID
0        Action         0
1         Adult         1
2     Adventure         2
3     Animation         3
4     Biography         4
5        Comedy         5
6         Crime         6
7   Documentary         7
8         Drama         8
9        Family         9
10      Fantasy        10
11    Game-Show        11
12      History        12
13       Horror        13
14        Music        14
15      Musical        15
16      Mystery        16
17         News        17
18   Reality-TV        18
19      Romance        19
20       Sci-Fi        20
21        Sport        21
22    Talk-Show        22
23     Thriller        23
24          War        24
25      Western        25

In [21]:
df_schema = {
    "tconst": sqlalchemy.String(max_str_len), 
    "primaryTitle": sqlalchemy.Text(),
    "startYear": sqlalchemy.Float(),
    "endYear": sqlalchemy.Float(),
    "runtimeMinutes": sqlalchemy.Integer()}

basics.to_sql('title_basics', engine, dtype=df_schema, if_exists='replace', index=False)

NameError: name 'sqlalchemy' is not defined

In [ ]:
# basics.set_index('int_index').to_sql('table_name', engine, index=True)

In [ ]:
# unique_genres = sorted(basics['genres'].str.split(',').explode().unique())
# title_genres_df = basics[['tconst', 'genres']].copy()

# genre_ints = range(len(unique_genres))
# genre_map = dict(zip(unique_genres, genre_ints))

# title_genres_df['genre_id'] = title_genres_df['genres'].str.split(',').apply(lambda x: [genre_map[genre] for genre in x])
# title_genres_df = title_genres_df.explode('genre_id').drop('genres', axis=1)

In [ ]:
# title_basics_dtypes = {"tconst": "VARCHAR(20)","primaryTitle": "TEXT","startYear": "FLOAT","runtimeMinutes": "INTEGER"}

# title_ratings_dtypes = { "tconst": "VARCHAR(20)", "averageRating": "FLOAT","numVotes": "INTEGER"}

# title_genres_dtypes = { "tconst": "VARCHAR(20)","genre_id": "INTEGER"}

# genres_dtypes = {"genre_id": "INTEGER","genre_name": "TEXT"}

# tmdb_data_dtypes = {"imdb_id": "VARCHAR(20)", "revenue": "FLOAT","budget": "FLOAT","certification": "VARCHAR(10)"}

In [ ]:
# basics.to_sql('title_basics', engine, dtype=title_basics_dtypes, if_exists='replace', index=False)

In [ ]:
# ratings.to_sql('title_ratings', engine, dtype=title_ratings_dtypes, if_exists='replace', index=False)

In [ ]:
# genres_df.to_sql('title_genres', engine, dtype=genres_dtypes, if_exists='replace', index=False)

In [ ]:
# tmdb_data_df.to_sql('tmdb_data', engine, dtype=tmdb_data_dtypes, if_exists='replace', index=False)

In [ ]:
# # with engine.connect() as con:
#     con.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')
#     con.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')
#     con.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')