Imports

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
import os
os.makedirs('Data/',exist_ok=True) # Confirm folder created
os.listdir("Data/")

['title_basics_cleaned.csv.gz',
 'title.basics.tsv.gz',
 'ratings_cleaned.csv.gz',
 'akas_cleaned.csv.gz',
 'title.ratings.tsv.gz',
 'title-akas-us-only.csv']

In [3]:
title_aka = pd.read_csv('Data/title-akas-us-only.csv')
title_aka.head()

/var/folders/2t/ty56pl2n2m7dps7c3szdtl7w0000gn/T/ipykernel_3894/1523512273.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  title_aka = pd.read_csv('Data/title-akas-us-only.csv')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0

In [4]:
title_basics = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', low_memory=False)
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
title_ratings = pd.read_csv('Data/title.ratings.tsv.gz', sep='\t', low_memory=False)
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1992
1  tt0000002            5.8       268
2  tt0000003            6.5      1878
3  tt0000004            5.5       177
4  tt0000005            6.2      2662

### Preprocessing for AKAs:

In [6]:
title_aka = title_aka[title_aka['region'].str.contains('US')]

In [7]:
title_aka['region'] = title_aka['region'].fillna('')

In [8]:
title_aka.replace({'\\N': np.nan}, inplace=True)

In [9]:
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

### Preprocessing for Title Basics:

In [10]:
title_basics.isna().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            18
dtype: int64

In [11]:
title_basics.replace({'\\N': np.nan}, inplace=True)

In [12]:
title_basics['startYear'] = title_basics['startYear'].astype(float)

In [13]:
is_documentary = title_basics['genres'].str.contains('Documentary', case=False)

In [14]:
title_basics.replace({'\\N': np.nan}, inplace=True)

In [15]:
title_basics = title_basics.dropna(subset=['runtimeMinutes', 'genres'])

In [16]:
title_basics = title_basics[title_basics['titleType'] == 'movie']

In [17]:
title_basics = title_basics[(title_basics['startYear'] >= 2000) & (title_basics['startYear'] <= 2021)]

In [18]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67486,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67664,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

### Preprocessing for movie titles ratings:

In [19]:
title_ratings.replace({'\\N': np.nan}, inplace=True)

In [20]:
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

### Converting to CSV

In [21]:
title_aka.to_csv("Data/akas_cleaned.csv.gz", compression='gzip', index=False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [22]:
title_basics.to_csv("Data/title_basics_cleaned.csv.gz", compression='gzip', index=False)
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13081,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61112,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67486,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
67664,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

In [23]:
title_ratings.to_csv("Data/ratings_cleaned.csv.gz", compression='gzip', index=False)
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1992
1  tt0000002            5.8       268
2  tt0000003            6.5      1878
3  tt0000004            5.5       177
4  tt0000005            6.2      2662

In [24]:
title_aka = pd.read_csv("Data/akas_cleaned.csv.gz", low_memory=False)
title_aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [25]:
title_basics = pd.read_csv("Data/title_basics_cleaned.csv.gz", low_memory=False)
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,NaN,94,Documentary
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama

In [26]:
title_ratings = pd.read_csv("Data/ratings_cleaned.csv.gz", low_memory=False)
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1992
1  tt0000002            5.8       268
2  tt0000003            6.5      1878
3  tt0000004            5.5       177
4  tt0000005            6.2      2662

In [28]:
keepers = title_basics['tconst'].isin(title_aka['titleId'])
keepers

0         False
1          True
2          True
3          True
4          True
          ...
211623    False
211624    False
211625    False
211626    False
211627    False
Name: tconst, Length: 211628, dtype: bool

In [29]:
basics = title_basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
2,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
4,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
6,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
211613,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
211615,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
211618,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
211620,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
211622,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [30]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics_1.csv.gz",compression='gzip',index=False)

In [34]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics_1.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"